### Introduction To Lists
* Lists are ordered, mutable collections of items.
* They can contain items of different data types.

1. Introduction to Lists
2. Creating Lists
3. Accessing List Elements
4. Modifying List Elements
5. List Methods
6. Slicing Lists
7. Iterating over Lists
8. List Comprehensions
9. Nested Lists
10. Practical Examples and Common Errors

In [3]:
lst = []
print(type(lst))

<class 'list'>

In [4]:
names = ["Ayush", "Abhishek", "Akash", "Ankit", "Alok"]
print(names)

['Ayush', 'Abhishek', 'Akash', 'Ankit', 'Alok']

In [5]:
mixed_list = [1, "Ayush", 55.4, True, "Hello"]
print (mixed_list)

[1, 'Ayush', 55.4, True, 'Hello']

In [6]:
## Accessing List Elements
fruits = ["Apple", "Banana", "Guava", "Mango", "Watermelon"]

In [7]:
print(fruits[1])
print(fruits[4])

Banana
Watermelon

In [8]:
print(fruits[-1])   # last element of list

Watermelon

In [ ]:
print(fruits[1:])   # all elements starting from index 1
print(fruits[1:3])  # all elements startinf from index 1 till index 3-1
print(fruits[:3])   # all elements till index 3-1

['Banana', 'Guava', 'Mango', 'Watermelon']
['Banana', 'Guava']
['Apple', 'Banana', 'Guava']

In [11]:
print(fruits[-1:2])
print(fruits[-1:-3])

[]
[]

In [12]:
## Modifying the List elements
fruits[1] = "Kiwi"
print(fruits)

['Apple', 'Kiwi', 'Guava', 'Mango', 'Watermelon']

In [13]:
fruits[1:] = "Watermelon"
print(fruits)

['Apple', 'W', 'a', 't', 'e', 'r', 'm', 'e', 'l', 'o', 'n']

In [22]:
fruits = ["Apple", "Banana", "Guava", "Mango", "Watermelon"]

In [23]:
## List Methods
fruits.append("Orange")     # adds orange at the end of the list
print(fruits)

['Apple', 'Banana', 'Guava', 'Mango', 'Watermelon', 'Orange']

In [24]:
fruits.insert(1, "Kiwi")    # inserts Kiwi at given index 1 and shifts rest of the elements by 1 index
print(fruits)

['Apple', 'Kiwi', 'Banana', 'Guava', 'Mango', 'Watermelon', 'Orange']

In [ ]:
fruits.remove("Banana")     # removes the first occurance of Banana from the list
print(fruits)

['Apple', 'Kiwi', 'Guava', 'Mango', 'Watermelon', 'Orange']

In [26]:
popped_fruit = fruits.pop()    # Remove and return the last element of the list
print(popped_fruit)
print(fruits)

Orange
['Apple', 'Kiwi', 'Guava', 'Mango', 'Watermelon']

In [27]:
idx = fruits.index("Watermelon")      # returns the index of first occurance of the Watermelon
print(idx)

4

In [ ]:
fruits.insert(2, "Grapes")  
print(fruits.count("Banana"))

0

In [29]:
print(fruits)
fruits.sort()
print(fruits)

['Apple', 'Kiwi', 'Grapes', 'Guava', 'Mango', 'Watermelon']
['Apple', 'Grapes', 'Guava', 'Kiwi', 'Mango', 'Watermelon']

In [32]:
fruits.reverse()
print(fruits)

['Watermelon', 'Mango', 'Kiwi', 'Guava', 'Grapes', 'Apple']

In [33]:
fruits.clear()
print(fruits)

[]

### Slicing List

In [ ]:
numbers = [1,2,3,4,5,6,7,8,9,10]
print(numbers[2:5])     # including index 2 till excluding index 5
print(numbers[:5])      # till excluding index 5
print(numbers[5:])      # including index 5 till end

print(numbers[::2])     # start till end every 2nd element
print(numbers[::3])     # start till end every 3rd element

print(numbers[::-1])    # from end every 1st element
print(numbers[::-2])    # from end every 2nd element

print(numbers[::])      # all the elements

[3, 4, 5]
[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]
[1, 4, 7, 10]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[10, 8, 6, 4, 2]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### Iterating over List

In [38]:
fruits = ["Apple", "Banana", "Guava", "Mango", "Watermelon"]

In [39]:
for fruit in fruits:
    print(fruit)

Apple
Banana
Guava
Mango
Watermelon

In [40]:
for index,fruit in enumerate(fruits):
    print(index, fruit)

0 Apple
1 Banana
2 Guava
3 Mango
4 Watermelon

### List Comprehension

In [42]:
lst = []

for x in range(10):
    lst.append(x**2)

print(lst)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
## [expression for item in iterable]
[x**2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [45]:
## [expression for item in iterable if condition]
[x**2 for x in range(10) if x%2==0]

[0, 4, 16, 36, 64]

### Nested List

In [52]:
## [expression for item1 in iterable1 for item2 in iterable2]
[[x,y] for x in range(5) for y in range(5,10)]

[[0, 5],
 [0, 6],
 [0, 7],
 [0, 8],
 [0, 9],
 [1, 5],
 [1, 6],
 [1, 7],
 [1, 8],
 [1, 9],
 [2, 5],
 [2, 6],
 [2, 7],
 [2, 8],
 [2, 9],
 [3, 5],
 [3, 6],
 [3, 7],
 [3, 8],
 [3, 9],
 [4, 5],
 [4, 6],
 [4, 7],
 [4, 8],
 [4, 9]]

In [53]:
[[x,y] for x in range(5) for y in range(5,10) if (x+y)<10]

[[0, 5],
 [0, 6],
 [0, 7],
 [0, 8],
 [0, 9],
 [1, 5],
 [1, 6],
 [1, 7],
 [1, 8],
 [2, 5],
 [2, 6],
 [2, 7],
 [3, 5],
 [3, 6],
 [4, 5]]

In [55]:
## List Comprehension with function calls
words = ["hello", "world", "python", "list"]
length = [len(word) for word in words]
print(length)

[5, 5, 6, 4]

### Conclusion
List comprehension are a powerful and concise way to create lists in Python. They are syntactically compact and can replace more verbose looping constructs. Understanding the syntax of list comprehensions will help you write cleaner and more efficient Python code.